@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .navigation li {
        flex: 1;
        text-align: center;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .list .member-card {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
        gap: 1rem;
    }

    .footer-contact {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .navigation li {
        flex: 1;
        text-align: center;
    }

    .home-grid {
        grid-template-columns: 1fr 1fr;
    }

    #spotlight-container {
        grid-template-columns: repeat(3, 1fr);
    }
}