@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .top-sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .photo img {
        max-width: 180px;
    }

    .course-buttons {
        justify-content: center;
    }

    #course-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}